<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <link rel="icon" href="images/favicon.ico">
    <script src="js/limit.js"></script>
    <link rel="stylesheet" href="css/all.css">
    <link rel="stylesheet" href="css/polyfill.object-fit.min.css">
</head>
<body>
<div class="pulice" v-cloak>
    <div class="header">
        <div class="headerCenter">
            <div class="logo">
                <a href="index.html">
                    <img src="images/logo.png">
                </a>
            </div>
            <div class="nav_right">
                <div class="nav" v-if="!userInfor || (userInfor && userInfor.role==0)">
                    <a href="index.html" class="activeStyle">
                        <span>活动</span>
                    </a>
                    <a href="jinxing.html">
                        <span>进行中</span>
                    </a>
                    <a href="lishi.html">
                        <span>历史</span>
                    </a>
                    <a :href="api+'/static/good/list.html'">
                        <span>游戏商城</span>
                    </a>
                    <a href="upload.html">
                        <span>发起活动</span>
                    </a>
                    <a target="_blank" href="http://jy.babagame.vip/">
                        <span>[奖励与规则]</span>
                    </a>
                </div>
                <div class="nav" v-if="userInfor && userInfor.role==1">
                    <a href="check.html" class="activeStyle">
                        <img src="images/1.png" alt="">
                        <span>活动审核</span>
                    </a>
                    <a href="userlist.html">
                        <img src="images/2.png" alt="">
                        <span>用户管理</span>
                    </a>
                </div>
                <div class="fixedRight">
                    <a href="login.html" v-if="!userInfor">
                        <img class="img1" src="images/rentou.png" alt="">
                        <span>登录</span>
                    </a>
                    <a href="center.html" v-else>
                        <p>
                            <span>{{userInfor.nickName}}</span>
                            <i @click.stop.prevent="logOut">[退出]</i>
                        </p>
                        <img class="img2" :src="userInfor.avatar||'images/renxing.png'" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!--审核页面-->
    <div class="shenhe" id="shenhe" v-cloak>
        <ul class="shenheList">
            <li v-for="(item,index) in checkList">
                <div class="type_icon" :class='statusImg(item.actStatus)'></div>
                <div class="top">
                    <div class="topImg"><img :src="item.actCover" alt=""></div>
                    <div class="infor">
                        <p>
                            <span>活动名称:</span>
                            <i>{{item.actName}}</i>
                            <b v-if="item.isNeedSupport">需要服务器支持</b>
                        </p>
                        <p>
                            <span>游戏:</span>
                            <i>{{item.actGameName}}</i>
                        </p>
                        <p>
                            <span>模式:</span>
                            <i>{{item.gameModelType}}</i>
                        </p>
                        <p>
                            <span>活动时间:</span>
                            <i>{{item.actTime}}</i>
                        </p>
                        <p>
                            <span>报名人数:</span>
                            <i>{{item.enroCount}}</i>
                        </p>
                    </div>
                </div>
                <div class="guize">
                    <p>
                        <b>活动规则</b>
                        <span class="append" v-html="item.rule"></span>
                    </p>
                    <p>
                        <b>请求赞助</b>
                        <span>{{item.sponsor}}</span>
                    </p>
                </div>
                <div class="result">
                    <div>
                        <input
                                v-if="item.actStatus===1"
                                v-model="item.mes"
                                type="text"
                                placeholder="少年人不说点什么吗？"
                        >
                        <span v-else>{{item.auditDesc}}</span>
                    </div>
                    <a @click="checkFn(item,2)" v-if="item.actStatus===1" class="btn1">驳回</a>
                    <a @click="checkFn(item,1)" v-if="item.actStatus===1" class="btn2">通过</a>
                    <a @click="checkFn(item,3)" class="btn3">删除</a>
                </div>
            </li>
        </ul>
        <div v-if="checkList.length==0" style=" text-align: center; line-height: 500px; font-size: 20px;">暂无数据</div>
    </div>
</div>



</body>
</html>
<script src="js/jquery-1.10.1.min.js"></script>
<script src="js/main.js"></script>
<script src="js/vue.js"></script>
<script src="js/polyfill.object-fit.min.js"></script>
<script>
    new Vue({
        el:'.pulice',
        data:{
            api: api,
            userInfor: userInfor,
            checkList:[]
        },
        computed:{
            statusImg(status){
                console.log(status)
                return function(status){
                    if(status==3){
                        return 'bh'
                    }else if(status==1){
                        return ''
                    }else{
                        return 'tg'
                    }
                }
            }
        },
        methods:{
            logOut(){
                $.ajax({
                    url:api+'/baba/act/logout',
                    type:'get',
                    beforeSend:function(){
                        loading.show()
                    },
                    success:function(res){
                        loading.hide()
                        window.sessionStorage.removeItem('userInfor')
                        window.location.reload()
                    },
                    error:function(){
                        loading.hide()
                    }
                })
            },
            getData(){
                var that = this;
                $.ajax({
                    url: api + '/baba/act/getAdminActivitiesList',
                    type: 'get',
                    beforeSend: function () {
                        loading.show()
                    },
                    success: function (res) {
                        loading.hide()
                        if(res.code == 'LPB0001'){
                        	that.checkList=res.data
                        }
                    },
                    error: function () {
                        loading.hide()
                    }
                })
            },
            // 进行审核 /baba/act/auditActivityById
            checkFn(item,type){
            	var that = this;
            	if(type==3){
            		//删除
            		var flag=window.confirm('你确定要删除吗?')
                    if(flag){
                    	$.ajax({
                            url: api + '/baba/act/deleteAct',
                            type: 'get',
                            beforeSend: function () {
                                loading.show()
                            },
                            data:{
                                actId:item.actId,
                                type:type,
                                desc:item.mes
                            },
                            success: function (res) {
                                loading.hide()
                                console.log(res)
                                if(res.code == 'LPB0001'){
                                	window.location.reload()
                                }
                            },
                            error: function () {
                                loading.hide()
                            }
                        })
                    }
            	}

                if(type==1 || type==2){
                	if(!item.mes){
                        this.$set(item,'mes','')
                        jalert('请输入描述')
                        return false
                    }
                	var text=type==1?'通过':'驳回'
                	//驳回 通过
            		var flag=window.confirm('你确定要'+text+'吗?')
                    if(flag){
                    	$.ajax({
                            url: api + '/baba/act/auditActivityById',
                            type: 'get',
                            beforeSend: function () {
                                loading.show()
                            },
                            data:{
                                actId:item.actId,
                                type:type,
                                desc:item.mes
                            },
                            success: function (res) {
                                loading.hide()
                                console.log(res)
                                if(res.code == 'LPB0001'){
                                	window.location.reload()
                                }
                            },
                            error: function () {
                                loading.hide()
                            }
                        })	
                    }
                }
                
            },
        },
        mounted(){
            this.getData()
            objectFit.polyfill({
                selector: 'img',
                fittype: 'cover'
            });
        }
    })
</script>